.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 5rem 0; /* Ajusta el margen según sea necesario */
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact-info,
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .content-grid {
    grid-template-columns: 1fr; /* Cambia a una columna en pantallas más pequeñas */
  }
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
