<div class="d-flex justify-content-center align-items-center m-5 p-4">
  <div class="content-wrapper grid-container p-4 shadow">
    <img
      src="assets/jr.png"
      alt="Imagen de Juan Gutierrez"
      class="img-fluid rounded-circle align-self-center"
      style="width: 150px; height: 150px"
    />

    <div class="text-center text-md-left align-self-center">
      <h1>Acerca de mi</h1>
      <h6>
        Soy un apasionado programador con una sólida trayectoria en el desarrollo de soluciones front-end y back-end,
        así como en el desarrollo de aplicaciones para Android. Manejo con destreza tecnologías como HTML, CSS,
        JavaScript, React, Angular.js, Vue.js, Node.js, Python, Java, Spring Boot, .NET, Kotlin, Android Studio y React
        Native. He trabajado en diversos proyectos que involucran conexiones a APIs, creación de CRUDs, integración de
        servicios externos y optimización de rendimiento tanto en front-end como en back-end.
      </h6>
      <h6>
        Tengo experiencia en el manejo de bases de datos relacionales y no relacionales, incluyendo SQL, MongoDB y
        OracleDB, así como en tecnologías NoSQL. Además, soy competente en el uso de Docker para la creación y
        administración de contenedores, y en la implementación de proyectos con GitHub Pages para despliegues estáticos.
      </h6>
      <h6>
        En mi experiencia, he implementado pruebas automatizadas para asegurar la calidad del código, he trabajado en la
        seguridad de aplicaciones para proteger los datos de los usuarios y he participado en despliegues continuos y
        mantenimiento de aplicaciones. Cuento con más de dos años de experiencia trabajando en empresas y tres años
        trabajando de manera autónoma y en constante aprendizaje. Además, tengo experiencia en control de versiones con
        Git y en la implementación de prácticas DevOps. Mi compromiso es ofrecer resultados de alta calidad y contribuir
        al éxito de tus proyectos tecnológicos.
      </h6>
    </div>
  </div>
</div>
