.grid-container {
  display: grid;
  grid-template-columns: 150px auto; /* Columna para la imagen y auto para el resto */
  grid-column-gap: 20px; /* Espacio entre las columnas */
  align-items: center; /* Centra verticalmente los elementos */

  /* Estilos adicionales para la cuadrícula */
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    text-align: center; /* Alinea todo el contenido al centro en pantallas pequeñas */
  }

  .img-fluid {
    justify-self: center; /* Centra horizontalmente la imagen en dispositivos móviles */
    align-self: center; /* Centra verticalmente la imagen en dispositivos móviles */
    margin-bottom: 20px; /* Añade margen inferior a la imagen para separarla del texto */
  }

  .text-center {
    text-align: center; /* Alinea el texto al centro en pantallas pequeñas */
  }

  .text-md-left {
    text-align: center; /* Alinea el texto al centro en pantallas pequeñas */
  }
}
