.mat-expansion-panel {
  margin-bottom: 16px;
}

.skill-details {
  padding: 16px;
}

.skill-details h4 {
  margin: 0;
  font-size: 1.2em;
}

.percentage {
  text-align: right;
  font-weight: bold;
  margin-top: 8px;
}

.panel-icon {
  margin-right: 8px;
}
