<div class="d-flex justify-content-center align-items-center m-5 p-4">
  <div class="content-wrapper grid-container p-4 shadow">
    <img
      src="assets/jr.png"
      alt="Imagen de Juan Gutierrez"
      class="img-fluid rounded-circle align-self-center"
      style="width: 150px; height: 150px"
    />

    <div class="text-center text-md-left align-self-center">
      <h2>Hola, soy Juan Gutierrez</h2>
      <h4>Desarrollador Full Stack Web - Android</h4>
      <h5>
        Soy un programador con experiencia en front-end (HTML, CSS, JavaScript, React, Angular.js, Vue.js) y back-end
        (Node.js, Python, Java, Spring Boot, .NET). También desarrollo para Android (Kotlin, Android Studio, React
        Native), manejo bases de datos (SQL, MongoDB, OracleDB), Docker, GitHub Pages, control de versiones con Git, y
        prácticas de DevOps.
      </h5>
      <div class="mt-4 text-center">
        <div class="row">
          <div class="col-md-4">
            <a
              href="https://www.linkedin.com/in/juan-gutierrez-450861207/"
              target="_blank"
              class="text-dark"
              aria-label="LinkedIn"
            >
              <i
                class="fab fa-linkedin fa-3x"
                [ngStyle]="{ color: themeType ? 'white' : 'black' }"
                matTooltip="LinkedIn"
              ></i>
            </a>
          </div>
          <div class="col-md-4">
            <a href="https://github.com/Juanri98" target="_blank" aria-label="GitHub">
              <i [ngStyle]="{ color: themeType ? 'white' : 'black' }" class="fa fa-github fa-3x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-md-4">
            <a matTooltip="Descargar CV" href="../../../assets/cv.pdf" download>
              <i [ngStyle]="{ color: themeType ? 'white' : 'black' }" class="fa-solid fa-sheet-plastic fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
