<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1>Proyectos</h1>
    </div>
  </div>
  <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    autoplayInterval="3000"
  >
    <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto">
            <img src="../../../assets/{{ product.image }}" [alt]="product.name" class="w-full border-round" />
          </div>
        </div>
        <div class="mb-3 font-medium">
          {{ product.name }}
        </div>

        <div class="mt-2 mb-2">
          <a [href]="product.url" target="_blank" rel="noopener noreferrer">
            <button mat-raised-button color="primary"><mat-icon>play_circle_outline</mat-icon> Demo</button>
          </a>
        </div>
        <div class="flex justify-content-between align-items-center">
          <div class="mt-0 font-semibold text-l">
            {{ product.price }}
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
